* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    user-select: none;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.form-group label {
    width: 100px;
    text-align: left;
}

input {
    margin: 10px 0;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
}

button:hover {
    background-color: #888; /* Tạo màu khi hover */
}


input:focus, button:hover {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

